/* .container-fluid {
  background: linear-gradient( rgba(0, 0, 0, 0.800), rgba(0, 0, 0, 0.800) ), url('../images/mauritius_island.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff !important;
} */
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
}


a.btn {
  padding: 1em !important;
  margin: 2em 0;
  background-color: transparent;
  border-radius: 0px !important;
  transition: all .5s;
  color: #000;
}

.map-position {
  width: 100%;
  height: 100vh;
}

#map {
  height: 100vh;
  width: 100%;
}

h3 {
  text-align: center;
}

input.form-control, select.form-control {
  border: 1px solid #000;
  border-radius: 0px;
  transition: all .5s;
}
label {
  margin: 1em 0;
}
input.form-control:focus, select.form-control:focus {
  border-color: transparent;
  box-shadow: none;
  border-left: 2px solid #000;
  font-weight: bold;
}
.title-strips-over {
  width: 230px;
  height: 1px;
  padding: 0 !important;
  background-color: rgba(255,255,255,0.4);
  position: relative;
  margin: 14px 0px 20px 0px;
}
.title-strips-over.dark {
  background-color: rgba(0,0,0,0.2);
}
.dark, .dark-hover:hover {
  color: #333 !important;
}
.poiret {
  font-family: 'Poiret One', cursive;
}
.raleway {
  font-family: 'Raleway', sans-serif;
}

/* Spinner Animation */
.spin {
  animation: spin 1500ms linear infinite; 
}

.d-none {display: none;}

.d-block {display: block;}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}


/* Scroll Icon Animation */

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}

.container {
  /* position: relative;
  width: auto;
  height: 24px; */
  display: flex;
  justify-content: center;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #000;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}


@media only screen and (max-device-width : 768px)
{
  /* Styles */
  #map, .map-position {
    height: 50vh;
  }

  section {
    min-height: 50vh;
  }

  #total h3 { 
    font-size: small;
   }
}